<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Project 2 - Login </title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>

  {{!-- Nav bar --}}
  <nav><a href="/login"></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  
  {{!-- error messages --}}
    <div id="errorDiv" class="hidden">
      <h3><span id="errorMessage"></span></h3>
    </div>

  <section id="content">

  </section>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>