<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Project 2 - Profile </title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <div class="navlink"></div>
    <div class="navlink"><a href="/home">Home</a></div>
    <div class="navlink"><a href="/makeBlog">Blog</a></div>
    <div class="navlink"><a href="/profile">Profile</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">

  </section>

  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>
  <script src="/assets/profileBundle.js"></script>
</body>

</html>