
/* STYLES GALORE */

/* General Styles */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #757575;
}

h1 {
    text-align: center;
    font-size: 55px;
    margin-top: 25px;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}


/* Navbar styles */
nav {
    width: 100%;
    height: 50px;
    background-color: #721121;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 15px;
    padding-top: 12px;
    padding-left: 20px;
    color: #fbfbff;
    font-size: 1.3em;
    float: left;
}

.navlink a {
    color: white;
    text-decoration: none;
}

.navlink:hover, .navlink a:hover {
    color: #201335;
}

.navlink:active, .navlink a:active {
    color: #201335;
    text-decoration: underline;
}

.navlink:visited, .navlink a:visited {
    color: white;
}

/* LOGIN STYLES */

#loginForm {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fbfbff;
    border: 15px solid #721121;
    display: block;
}

#loginForm label {
    display: block;
    width: 250px;
    text-align: right;
    font-size: 2.8em;
    margin: 0 auto;

}

#loginForm input[type=text], #loginForm input[type=password]{
    display: block;
    width: 350px;
    font-size: 1.5em;
    margin: 0 auto;
    margin-bottom: 10px;

}

#loginForm input[type=submit] {
    text-align: center;
    transition: background-color 0.4s ease;
    width: 200px;
    font-size: larger;
    display: block;
    background-color: #f5e960;
    margin: 0 auto;
    margin-top: 50px;
}

/* sign in button */
.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5em;
    width: 165px;
    background-color: #f5E960;
    border-radius: 2px;
    margin-top: 15px;
    border-color: #757575;
    padding: 5px 0px;
    color: black;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #201335;
}

/* SIGN UP PAGE STYLES */

#signupForm {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    border: 15px solid #721121;
    border-radius: 10px;
    background-color: #fbfbff;
    display: block;
}

#signupForm label {
    display: inline-block;
    width: 250px;
    text-align: right;
    font-size: 2.0em;
    margin-right: 25px;
    margin-bottom: 10px;
}

#signupForm input[type=text], #signupForm input[type=password]{
    width: 300px;
    font-size: 1.3em;
}

#signupForm input[type=submit] {
    text-align: center;
    transition: background-color 0.4s ease;
    width: 200px;
    font-size: larger;
    display: block;
    background-color: #f5e960;
    margin: 0 auto;
    margin-top: 50px;
}

#signupForm input[type=submit]:hover {
    transition: background-color 0.4s ease;
    background-color: #201335;
    color: white;
}

#signupForm input[type=submit]:active {
    background-color: #201335;
    color: white;
}

#signupForm input[type=submit]:link, #signupForm input[type=submit]:visited {
    color: white;
}

#signupForm input[type=submit]:focus {
    outline: none;
}


.hidden {
    display: none;
}

/* ////////////////// */
/* Profile page styles */
/* ////////////////// */

h3 {
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    text-decoration: underline;
}

#profilePic {
    width: 195px;
    height: 185px;
    border-radius: 75px;
    float: right;
    border: 2px solid #721172;
    padding: 3px;
    margin-bottom: 5px;
}


#profilePhotoSect {
    width: 200px;
    text-align: center;
    height: 200px;
    border: 0px;
    margin: 0 auto;
    margin-top: 50px;
    float: right;
    transform: translateY(-290px);
}

#setProfilePhoto {
    margin-top: 50px;
    font-size: larger;
}

button {
    text-align: center;
    transition: background-color 0.4s ease;
    width: 200px;
    font-size: larger;
    display: block;
    background-color: #f5e960;
}

button:hover {
    transition: background-color 0.4s ease;
    background-color: #201335;
    color: white;
}

section {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 2px solid #721172;
    border-radius: 10px;
    background-color: #fbfbff;
}

#favorites, #profitModel, #changePassword {
    background-color: #757575;
    color: white;
}

#songList{
    background-color: #fbfbff;
    color: black;
    border: 2px solid #721172;
    padding: 5px;
}

/* //////////////////// */
/* HOME PAGE STYLES */
/* //////////////////// */

#blogList {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 20px solid #721121;
    border-radius: 10px;
    background-color: #757575;
}

#blogs {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 20px solid #721121;
    border-radius: 10px;
    background-color: #f5E960;

}

/* ////////////////// */
/* BLOG PAGE STLYES */
/* ////////////////// */

#blogForm {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 20px solid #721121;
    border-radius: 10px;
    background-color: #fbfbff;
}

#blogForm label {
    display: inline-block;
    width: 200px;
    text-align: right;
    font-size: 1.9em;
    margin-right: 25px;
    margin-bottom: 10px;
}

#blogForm input[type=text], #blogForm input[type=number]{
    width: 300px;
    font-size: 1.7em;
}

#blogForm #description {
    width: 300px;
    font-size: 1.7em;
}

#blogForm textarea {
    width: 300px;
    height: 500px;
    font-size: 1.7em;
}

#blogForm input[type=submit] {
    text-align: center;
    transition: background-color 0.4s ease;
    width: 200px;
    font-size: larger;
    display: block;
    background-color: #f5e960;
    margin: 0 auto;
    margin-top: 25px;
}

#blogForm input[type=submit]:hover {
    transition: background-color 0.4s ease;
    background-color: #201335;
    color: white;
}

#blogForm input[type=submit]:active {
    background-color: #201335;
    color: white;
}

#blogForm input[type=submit]:link, #blogForm input[type=submit]:visited {
    color: white;
}

#blogForm input[type=submit]:focus {
    outline: none;
}


/* Blog card */
.blogCard {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 2px solid #721172;
    border-radius: 10px;
    background-color: #fbfbff;
}

.blogOwner {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}

.blogUsername {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.blogTakes {
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}

.blogTitle {
    font-size: 2.5em;
    text-decoration: underline;
}

.blogRating {
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}

.blogGenre {
    font-size: 1.5em;
    text-align: center;
}

.blogDescription {
    border: 2px solid #721172;
    padding: 25px;
    font-size: 2em;
}

.blogDate {
    font-size: 1.2em;
    text-align: right;
}



.blogCard button {
    text-align: center;
    transition: background-color 0.4s ease;
    width: 200px;
    font-size: larger;
    display: block;
    background-color: #f5e960;
    margin: 0 auto;
    margin-top: 25px;
}

.blogCard button:hover {
    transition: background-color 0.4s ease;
    background-color: #721121;
    color: white;
}

.blogCard button:active {
    background-color: #201335;
    color: white;
}

.blogCard button:link, .blogCard button:visited {
    color: white;
}

.blogCard button:focus {
    outline: none;
}

/* ////////////////// */
/* UPGRADE PAGE STYLES */
/* ////////////////// */

#upgradeForm {
    width: 70%;
   margin: 50px auto;
    padding: 20px;
    border: 2px solid #721172;
    border-radius: 10px;
    background-color: #fbfbff;
    display: block;
}

#upgradeForm label {
    display: inline-block;
    width: 250px;
    text-align: right;
    font-size: 2.0em;
    margin-right: 25px;
    margin-bottom: 10px;
}

#upgradeForm input[type=text], #upgradeForm input[type=number]{
    width: 300px;
    font-size: 1.3em;
}

#upgradeForm input[type=submit] {
    text-align: center;
    transition: background-color 0.4s ease;
    width: 200px;
    font-size: larger;
    display: block;
    background-color: #f5e960;
    margin: 0 auto;
    margin-top: 50px;
}


#upgradeForm input[type=submit]:hover {
    transition: background-color 0.4s ease;
    background-color: #201335;
    color: white;
}

#upgradeForm input[type=submit]:active {
    background-color: #201335;
    color: white;
}

#upgradeForm input[type=submit]:link, #upgradeForm input[type=submit]:visited {
    color: white;
}

#upgradeForm input[type=submit]:focus {
    outline: none;
}

/* ////////////////// */

/* ////////////////// */
/* CHANGE PASS STYLES */
/* ////////////////// */

#changePassForm {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #721172;
    border-radius: 10px;
    background-color: #fbfbff;
    display: block;
}

#changePassForm label {
    display: inline-block;
    width: 250px;
    text-align: right;
    font-size: 2.0em;
    margin-right: 25px;
    margin-bottom: 10px;
}

#changePassForm input[type=password]{
    width: 300px;
    font-size: 1.3em;
}

#changePassForm input[type=submit] {
    text-align: center;
    transition: background-color 0.4s ease;
    width: 200px;
    font-size: larger;
    display: block;
    background-color: #f5e960;
    margin: 0 auto;
    margin-top: 50px;
}

#changePassForm input[type=submit]:hover {
    transition: background-color 0.4s ease;
    background-color: #201335;
    color: white;
}

#changePassForm input[type=submit]:active {
    background-color: #201335;
    color: white;
}

#changePassForm input[type=submit]:link, #changePassForm input[type=submit]:visited {
    color: white;
}

#changePassForm input[type=submit]:focus {
    outline: none;
}

/* ////////////////// */









